/* @import "tailwindcss/base";
 @import "tailwindcss/components";
 @import "tailwindcss/utilities";*/
@import "./colors";

/* This file is for your main application CSS */

@font-face {
  font-family: "cp437";
  src: url('/fonts/WebPlus_IBM_VGA_9x16.woff');
}

:root {
  --font-scale: 1;

  --char-width: calc(9px * var(--font-scale));
  --char-height: calc(16px * var(--font-scale));
}

.game-board {
  font-family: "cp437";
  font-size: var(--char-height);
  width: calc(var(--char-width) * 60);
  display: flex;
  flex-wrap: wrap;
}

.game-board>span {
  width: var(--char-width);
}